@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: 'Barlow Condensed', sans-serif;
}

.active {
  color: #FFFFFF !important;
  border-bottom: 2px solid #FFFFFF !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 5rem;
  left: 10rem;
  right: 10rem;
}

.smallTitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: 0.8rem;
  color: #D0D6F9;
}

.smallTitle .number {
  color: #FFFFFF;
  opacity: 0.25;
}

.bigTitle {
  font-size: 6rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  margin: 3% 0;
  color: #FFFFFF;
}

.textContent {
  font-size: 1rem;
  line-height: 2rem;
  color: #D0D6F9;
}

/**************************** NAVBAR ****************************/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-left: 55px;
}

.nav .aesthetic-bar {
  width: 25%;
  border: 1px solid #979797;
  margin-right: -16%;
  z-index: 22;
}

.nav .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
  list-style-type: none;
  z-index: 11;
}

.nav .navbar .close,
.nav .navbar .hamburger {
  display: none;
}

.nav .navbar::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}

.nav .navbar li {
  padding: 30px 0;
}

.nav .navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 30px 0;
}

.nav .navbar li a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

/**************************** HOME ****************************/
.homePage {
  height: 100vh;
  background: url("../home/background-home-desktop.jpg") no-repeat center center/cover;
}

.homePage .heroSection .homeContent {
  width: 25rem;
}

.homePage .heroSection .cta {
  width: 16rem;
  height: 16rem;
  background: #FFFFFF;
  color: #000000;
  border-radius: 50%;
  text-decoration: none;
  position: relative;
}

.homePage .heroSection .cta .ctaButton {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
}

.homePage .heroSection .cta:hover {
  -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 70px rgba(255, 255, 255, 0.1);
}

/**************************** DESTINATION ****************************/
.moonPage {
  height: 100vh;
  background: url("../destination/background-destination-desktop.jpg") no-repeat center center/cover;
  position: relative;
}

.moonPage .moonSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moonPage .moonSection .leftDestination {
  position: relative;
  bottom: 0;
}

.moonPage .moonSection .leftDestination .destinationImage {
  width: 100%;
  margin-top: 15%;
}

.moonPage .moonSection .leftDestination .destinationImage img {
  max-width: calc(100% - 8rem);
}

.moonPage .moonSection .righttDestination {
  width: 30rem;
}

.moonPage .moonSection .righttDestination .destinationMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  list-style-type: none;
}

.moonPage .moonSection .righttDestination .destinationMenu li {
  padding: 10px 0;
}

.moonPage .moonSection .righttDestination .destinationMenu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #D0D6F9;
  padding: 10px 0;
  letter-spacing: 0.25rem;
}

.moonPage .moonSection .righttDestination .destinationMenu li a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.moonPage .moonSection .righttDestination .textContent {
  margin-bottom: 8%;
}

.moonPage .moonSection .righttDestination .aesthetic-bar {
  width: 100%;
  border: 1px solid #979797;
}

.moonPage .moonSection .righttDestination .distanceTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin-top: 6%;
}

.moonPage .moonSection .righttDestination .distanceTime .distance .title,
.moonPage .moonSection .righttDestination .distanceTime .time .title {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #D0D6F9;
}

.moonPage .moonSection .righttDestination .distanceTime .distance .number,
.moonPage .moonSection .righttDestination .distanceTime .time .number {
  font-size: 1.75rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 4%;
}

/**************************** CREW ****************************/
.crewPage {
  height: 100vh;
  background: url("../crew/background-crew-desktop.jpg") no-repeat center center/cover;
  position: relative;
}

.crewPage .crewSection {
  bottom: 0;
  right: 0;
}

.crewPage .crewSection .leftCrew {
  width: 28rem;
  position: relative;
  bottom: 5rem;
}

.crewPage .crewSection .leftCrew h4.speciality {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  color: #FFFFFF;
  opacity: 0.25;
  margin-top: 6rem;
}

.crewPage .crewSection .leftCrew h3.fullName {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  color: #FFFFFF;
  margin: 0.7rem 0 1.5rem 0;
}

.crewPage .crewSection .leftCrew p.textContent {
  margin-bottom: 4rem;
}

.crewPage .crewSection .leftCrew .pagination a .dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1.5rem;
  background-color: #979797;
  opacity: 0.6;
}

.crewPage .crewSection .leftCrew .pagination a .dot:hover {
  opacity: 1;
}

.crewPage .crewSection .leftCrew .pagination a .filled {
  background-color: #FFFFFF;
  opacity: 1;
}

.crewPage .crewSection .rightCrew {
  position: relative;
}

.crewPage .crewSection .rightCrew .crewImage {
  bottom: 0 !important;
  right: 0;
}

.crewPage .crewSection .rightCrew .crewImage img {
  max-width: calc(100% - 10rem);
}

/************************* TECHNOLOGY *************************/
.techPage {
  height: 100vh;
  background: url("../technology/background-technology-desktop.jpg") no-repeat center center/cover;
  position: relative;
}

.techPage .techSection {
  right: 0rem;
}

.techPage .techSection .leftTech {
  width: 35rem;
  position: relative;
  margin-bottom: 4rem;
}

.techPage .techSection .leftTech .smallTitle {
  margin-bottom: 5rem;
}

.techPage .techSection .leftTech .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.techPage .techSection .leftTech .content .slider {
  margin-right: 4rem;
}

.techPage .techSection .leftTech .content .slider a {
  text-decoration: none;
}

.techPage .techSection .leftTech .content .slider a .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #979797;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: 'Bellefair', serif;
}

.techPage .techSection .leftTech .content .slider a .circle:hover {
  border: 1px solid #FFFFFF;
}

.techPage .techSection .leftTech .content .slider .filled {
  color: #0B0D17 !important;
  background-color: #FFFFFF !important;
}

.techPage .techSection .leftTech .content .techContent .title {
  font-size: 1rem;
  text-transform: uppercase;
}

.techPage .techSection .leftTech .content .techContent h3.fullName {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  color: #FFFFFF;
  letter-spacing: 0.2rem;
  margin: 0.7rem 0 1.5rem 0;
}

.techPage .techSection .rightTech .techImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.techPage .techSection .rightTech .techImage .landscape {
  display: none;
}

.techPage .techSection .rightTech .techImage img {
  max-width: calc(100% - 7rem);
}

@media screen and (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /**************************** NAVBAR ****************************/
  .nav {
    padding-top: 0;
  }
  .nav .navbar li a span {
    display: none;
  }
  .nav .mobileNav {
    display: block;
  }
  .nav .aesthetic-bar {
    display: none;
  }
  /**************************** HOME ****************************/
  .homePage {
    background: url("../home/background-home-tablet.jpg") no-repeat center center/cover;
  }
  .homePage .heroSection {
    height: none;
  }
  .homePage .heroSection .homeContent {
    text-align: center;
  }
  .homePage .heroSection .homeContent .bigTitle {
    font-size: 9rem;
  }
  .homePage .heroSection .cta {
    margin-top: 12rem;
  }
  /**************************** DESTINATION ****************************/
  .moonPage {
    background: url("../destination/background-destination-tablet.jpg") no-repeat center center/cover;
  }
  .moonPage .moonSection {
    text-align: center;
  }
  .moonPage .moonSection .leftDestination .smallTitle {
    margin-left: -90%;
  }
  .moonPage .moonSection .righttDestination {
    margin-top: 1rem;
  }
  .moonPage .moonSection .righttDestination .destinationMenu {
    width: none;
    margin: 0 5rem;
  }
  .moonPage .moonSection .righttDestination .distanceTime {
    text-align: center;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /**************************** CREW ****************************/
  .crewPage {
    background: url("../crew/background-crew-tablet.jpg") no-repeat center center/cover;
  }
  .crewPage .crewSection {
    text-align: center;
    right: auto;
  }
  .crewPage .crewSection .leftCrew {
    bottom: 1rem;
  }
  .crewPage .crewSection .leftCrew .smallTitle {
    margin-left: -90%;
  }
  .crewPage .crewSection .leftCrew h4.speciality {
    margin-top: 3rem;
  }
  .crewPage .crewSection .rightCrew .crewImage img {
    max-width: 100%;
    height: 50vh;
  }
  /************************* TECHNOLOGY *************************/
  .techPage {
    background: url("../technology/background-technology-tablet.jpg") no-repeat center center/cover;
  }
  .techPage .techSection {
    left: 0;
  }
  .techPage .techSection .leftTech {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: static;
  }
  .techPage .techSection .leftTech .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .techPage .techSection .leftTech .content .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 8rem;
  }
  .techPage .techSection .leftTech .content .techContent .title {
    font-size: 1.5rem;
  }
  .techPage .techSection .leftTech .smallTitle {
    margin-bottom: 3rem;
    position: absolute;
    top: -15%;
    margin-left: -5%;
  }
  .techPage .techSection .rightTech {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 3rem;
  }
  .techPage .techSection .rightTech .techImage .landscape {
    display: block;
  }
  .techPage .techSection .rightTech .techImage .portrait {
    display: none;
  }
  .techPage .techSection .rightTech .techImage img {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .active {
    color: #FFFFFF !important;
    border-bottom: none !important;
    border-right: 5px solid #FFFFFF;
  }
  .homePage {
    height: auto;
    background: url(../home/background-home-mobile.jpg) no-repeat center center/cover;
  }
  .homePage .nav {
    padding: 1.25rem 1.25rem 0 1.25rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .homePage .nav .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  .homePage .nav .navbar::before {
    display: none;
  }
  .homePage .nav .navbar .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 28px;
    margin: 1.25rem;
  }
  .homePage .nav .navbar .close {
    display: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 28px;
    margin: 1.25rem;
  }
  .homePage .nav .navbar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .homePage .nav .navbar li {
    display: none;
    padding: 0.5rem 0 0 2.5rem;
  }
  .homePage .nav .navbar li a {
    padding: 0;
    padding-bottom: 1.5rem;
    margin-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .homePage .nav .navbar li a span {
    display: block;
    padding-right: 0.8rem;
    font-weight: bold;
  }
  .homePage .heroSection {
    bottom: 3rem;
  }
  .homePage .heroSection .homeContent {
    width: 20rem;
  }
  .homePage .heroSection .homeContent .smallTitle {
    font-size: 1rem;
  }
  .homePage .heroSection .homeContent .bigTitle {
    font-size: 5rem;
  }
  .homePage .heroSection .cta {
    width: 10rem;
    height: 10rem;
    margin-top: 3rem;
  }
  .homePage .heroSection .cta .ctaButton {
    font-size: 1.5rem;
  }
  .mobileModel {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: 70%;
  }
  /**************************** DESTINATION ****************************/
  .moonPage {
    height: 100vh;
    background: url("../destination/background-destination-mobile.jpg") no-repeat center center/cover;
    position: relative;
  }
  .moonPage .moonSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .moonPage .moonSection .leftDestination {
    position: relative;
    bottom: 0;
  }
  .moonPage .moonSection .leftDestination .destinationImage {
    width: 100%;
    margin-top: 15%;
  }
  .moonPage .moonSection .leftDestination .destinationImage img {
    max-width: calc(100% - 8rem);
  }
  .moonPage .moonSection .righttDestination {
    width: 30rem;
  }
  .moonPage .moonSection .righttDestination .destinationMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75%;
    list-style-type: none;
  }
  .moonPage .moonSection .righttDestination .destinationMenu li {
    padding: 10px 0;
  }
  .moonPage .moonSection .righttDestination .destinationMenu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #D0D6F9;
    padding: 10px 0;
    letter-spacing: 0.25rem;
  }
  .moonPage .moonSection .righttDestination .destinationMenu li a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  .moonPage .moonSection .righttDestination .textContent {
    margin-bottom: 8%;
  }
  .moonPage .moonSection .righttDestination .aesthetic-bar {
    width: 100%;
    border: 1px solid #979797;
  }
  .moonPage .moonSection .righttDestination .distanceTime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75%;
    margin-top: 6%;
  }
  .moonPage .moonSection .righttDestination .distanceTime .distance .title,
  .moonPage .moonSection .righttDestination .distanceTime .time .title {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #D0D6F9;
  }
  .moonPage .moonSection .righttDestination .distanceTime .distance .number,
  .moonPage .moonSection .righttDestination .distanceTime .time .number {
    font-size: 1.75rem;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 4%;
  }
}
/*# sourceMappingURL=style.css.map */