@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: 'Barlow Condensed', sans-serif;
}

.active {
  color: #FFFFFF !important;
  border-bottom: 2px solid #FFFFFF !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 5rem;
  left: 10rem;
  right: 10rem;

  @media screen AND (max-width:768px) {
    flex-direction: column;
    bottom: 2rem;
    justify-content: center;
    align-items: center;
  }
}

.smallTitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: 0.8rem;
  color: #D0D6F9;

  .number {
    color: #FFFFFF;
    opacity: 0.25;
  }

  @media screen AND (max-width:768px) {
    font-size: 1rem;
  }
}

.bigTitle {
  font-size: 6rem;
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  margin: 3% 0;
  color: #FFFFFF;
}

.textContent {
  font-size: 1rem;
  line-height: 2rem;
  color: #D0D6F9;

  @media screen AND (max-width:768px) {
    line-height: 1.7rem;
    margin-bottom: 2rem;
  }
}

/**************************** NAVBAR ****************************/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: 55px;

  .aesthetic-bar {
    width: 25%;
    border: 1px solid #979797;
    margin-right: -16%;
    z-index: 22;
  }

  .navbar {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 58%;
    list-style-type: none;
    z-index: 11;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($color: #FFFFFF, $alpha: 0.05);
      backdrop-filter: blur(10px);
      z-index: -1;
    }

    li {
      padding: 30px 0;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 30px 0;

        &:hover {
          border-bottom: 2px solid rgba($color: #FFFFFF, $alpha: 0.5);
        }

        @media screen AND (max-width:768px) {
          padding: 22px 0;
        }
      }

      @media screen AND (max-width:768px) {
        padding: 22px 0;
      }
    }
  }

  @media screen AND (max-width:768px) {
    padding-top: 0;

    .aesthetic-bar {
      display: none;
    }
  }
}

/**************************** HOME ****************************/

.homePage {
  height: 100vh;
  background: url('../home/background-home-desktop.jpg') no-repeat center center/cover;

  .heroSection {

    .homeContent {
      width: 25rem;

      @media screen AND (max-width:768px) {
        text-align: center;
      }
    }

    .cta {
      width: 16rem;
      height: 16rem;
      background: #FFFFFF;
      color: #000000;
      border-radius: 50%;
      text-decoration: none;
      position: relative;

      .ctaButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-family: 'Bellefair', serif;
        text-transform: uppercase;
      }

      &:hover {
        box-shadow: 0 0 0 70px rgba($color: #FFFFFF, $alpha: 0.1);
      }

      @media screen AND (max-width:768px) {
        width: 8.75rem;
        height: 8.75rem;

        .ctaButton {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/**************************** DESTINATION ****************************/

.moonPage {
  height: 100vh;
  background: url('../destination/background-destination-desktop.jpg') no-repeat center center/cover;
  position: relative;

  .moonSection {
    display: flex;
    justify-content: space-between;

    .leftDestination {
      position: relative;
      bottom: 0;

      .destinationImage {
        width: 100%;
        margin-top: 15%;

        img {
          max-width: calc(100% - 8rem);
        }
      }
    }

    .righttDestination {
      width: 30rem;

      .destinationMenu {
        display: flex;
        justify-content: space-between;
        width: 75%;
        list-style-type: none;

        li {
          padding: 10px 0;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #D0D6F9;
            padding: 10px 0;
            letter-spacing: 0.25rem;

            &:hover {
              border-bottom: 2px solid rgba($color: #FFFFFF, $alpha: 0.5);
            }
          }
        }
      }

      .textContent {
        margin-bottom: 8%;
      }

      .aesthetic-bar {
        width: 100%;
        border: 1px solid #979797;
      }

      .distanceTime {
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin-top: 6%;

        .distance,
        .time {
          .title {
            font-size: 0.875rem;
            text-transform: uppercase;
            color: #D0D6F9;
          }

          .number {
            font-size: 1.75rem;
            font-family: 'Bellefair', serif;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 4%;
          }
        }

      }
    }
  }
}

/**************************** CREW ****************************/

.crewPage {
  height: 100vh;
  background: url('../crew/background-crew-desktop.jpg') no-repeat center center/cover;
  position: relative;

  .crewSection {
    bottom: 0;
    right: 0;

    .leftCrew {
      width: 28rem;
      position: relative;
      bottom: 5rem;

      h4.speciality {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Bellefair', serif;
        color: #FFFFFF;
        opacity: 0.25;
        margin-top: 6rem;
      }

      h3.fullName {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: 'Bellefair', serif;
        color: #FFFFFF;
        margin: 0.7rem 0 1.5rem 0;
      }

      p.textContent {
        margin-bottom: 4rem;
      }

      .pagination {

        a {
          .dot {
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            display: inline-block;
            margin-right: 1.5rem;
            background-color: #979797;
            opacity: 0.6;

            &:hover {
              opacity: 1;
            }
          }

          .filled {
            background-color: #FFFFFF;
            opacity: 1;
          }
        }
      }
    }

    .righttCrew {
      position: relative;

      .crewImage {
        bottom: 0 !important;
        right: 0;

        img {
          max-width: calc(100% - 10rem);
        }
      }
    }
  }
}

/************************* TECHNOLOGY *************************/

.techPage {
  height: 100vh;
  background: url('../technology/background-technology-desktop.jpg') no-repeat center center/cover;
  position: relative;

  .techSection {
    right: 0rem;

    .leftTech {
      width: 35rem;
      position: relative;
      margin-bottom: 4rem;

      .smallTitle {
        margin-bottom: 5rem;
      }

      .content {
        display: flex;
        justify-content: space-between;

        .slider {
          margin-right: 4rem;

          a {
            text-decoration: none;

            .circle {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 4rem;
              width: 4rem;
              border-radius: 50%;
              color: #FFFFFF;
              background-color: transparent;
              border: 1px solid #979797;
              margin-bottom: 1.5rem;
              font-size: 2rem;
              font-family: 'Bellefair', serif;

              &:hover {
                border: 1px solid #FFFFFF;
              }
            }
          }

          .filled {
            color: #0B0D17 !important;
            background-color: #FFFFFF !important;
          }

        }

        .techContent {
          .title {
            font-size: 1rem;
            text-transform: uppercase;
          }

          h3.fullName {
            font-size: 2.5rem;
            text-transform: uppercase;
            font-family: 'Bellefair', serif;
            color: #FFFFFF;
            letter-spacing: 0.2rem;
            margin: 0.7rem 0 1.5rem 0;
          }
        }
      }
    }

    .rightTech {

      .techImage {
        display: flex;
        justify-content: flex-end;

        img {
          max-width: calc(100% - 7rem);
        }
      }
    }
  }
}