@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
}

.active {
  border-bottom: 2px solid #fff;
}

.homepage {
  height: 100vh;
  background: url('../home/background-home-desktop.jpg') no-repeat center center/cover;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 55px;

    .aesthetic-bar {
      width: 410px;
      border: 1px solid #979797;
      margin-right: -8rem;
      z-index: 22;
    }


    .navbar {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      width: 830px;
      list-style-type: none;
      z-index: 11;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color: rgb(255, 255, 255), $alpha: 0.05);
        backdrop-filter: blur(10px);
        z-index: -1;
      }

      li {
        padding: 38px 0;

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          padding: 38px 0;
        }
      }
    }
  }

  .heroSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 80px;
    left: 165px;
    right: 165px;

    .homeContent {
      width: 410px;
      color: #fff;

      .topContent {
        font-size: 28px;
        text-transform: uppercase;
        word-spacing: 0.8rem;
      }

      .midContent {
        font-size: 130px;
        font-family: 'Bellefair', serif;
        text-transform: uppercase;
        margin: 1.3rem 0;
      }

      .bottomContent {
        font-size: 20px;
        line-height: 2rem;
      }
    }

    .cta {
      width: 254px;
      height: 254px;
      background: #fff;
      color: #000;
      border-radius: 50%;
      text-decoration: none;
      position: relative;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px;
        font-family: 'Bellefair', serif;
        text-transform: uppercase;
      }
    }
  }
}